@{ ViewData["Title"] = "Home Page";}
@model SportStore.Entities.Point;

@{
    var x = Model.X;
    var y = Model.Y;
}

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDasA7_C8s-T2dAXutOSqVBiCAsz3zJ3zo&callback=initMap">
</script>
<script>
    $(document).ready(function () {
        getLocation();
    })

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getWeather)
        }
    }

    function getWeather(userPosition, task) {
        $.ajax({
            url: 'https://api.openweathermap.org/data/2.5/weather',
            data: {
                lat: userPosition.coords.latitude,
                lon: userPosition.coords.longitude,
                units: 'metric',
                APPID: 'e5ed663b00379c266bb4dc85f4fc4055'
            },
            success: function (res) { showWeatherDetails(res, task) }
        })
    }

    function showWeatherDetails(weather, task) {
        var temp = parseInt(weather.main.temp, 10);
        $('#weather_degrees').html(temp);
        $('#weather_img').attr('src', 'https://openweathermap.org/img/w/' + weather.weather[0].icon + '.png');
        $('#clothes_recommendation').html(getClothesRecommendation(temp))
    }

    function getClothesRecommendation(temp) {
        if (temp > 20) {
            return 'קצר';
        }

        return 'ארוך';
    }

</script>
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>

<div style="display: flex; align-items: center;">
    <img id='weather_img' style="height: 70px"/>
    <div style="display: flex">
        <div>מזג האוויר היום הוא:&nbsp;</div>
        <div class='degrees_sign'>C°</div><div id='weather_degrees' class='degrees'></div>
        <div>&nbsp;על כן המלצתנו היום היא ללבוש:&nbsp;</div><div id="clothes_recommendation"></div>
    </div>
</div>
<div>
    <div>מצא את הדרך הטובה ביותר לבית הספר מביתך</div>
    <div id="map"></div>
</div>


<script>
     function initMap() {
         var userAddress = new google.maps.LatLng(@x, @y);
         var school = new google.maps.LatLng(31.96978575143069, 34.772818286428965);
         var map = new google.maps.Map(document.getElementById('map'), {
             zoom: 15,
             center: userAddress
         });

         new google.maps.Marker({
             position: userAddress,
             title: "Home",
             label: "Home",
             map: map
         });
         new google.maps.Marker({
            position: school,
            title: "School",
            label: "School",
            map: map
         });

        // get route from A to B
         calculateAndDisplayRoute(map, userAddress, school);
    }

    function calculateAndDisplayRoute(map, pointA, pointB) {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({ map: map, suppressMarkers: true });

        directionsService.route({
            origin: pointA,
            destination: pointB,
            avoidTolls: true,
            avoidHighways: false,
            travelMode: google.maps.TravelMode.WALKING
        }, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
