@{
    ViewData["Title"] = "התחברות";
}

<div class="text-center">
    <h1 class="display-3">התחברות</h1>

    <form method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>כניסה</button>
    </form>

    <h5>
        <b>@((Model as LoginViewModel)?.Error)</b>
    </h5>

    <video width="320" height="240"
           controls
           src="~/videos/Timothy goes to school.mp4"
           autoplay
           class="video">
    </video>

    <h5>ברוכים הבאים לבית הספר!</h5>

</div>
