@{
    ViewData["Title"] = "Registeration Page";
}

<div class="text-center">
    <h1 class="display-4">הרשמה</h1>

    <form method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>הרשמה</button>
    </form>

</div>
