@{
    ViewData["Title"] = "אודות";
}

<div class="about">
    טימותי הולך לבית הספר (באנגלית: Timothy Goes to School) היא סדרת הנפשה קנדית-סינית לילדים, המבוססת על מספר ספרים של הסופרת רוזמרי וולס. הסדרה עוקבת אחר טימותי, דביבון קטן אשר לומד בכיתה א' ובכל יום לומד יחד עם חבריו דברים חדשים.
    הסדרה שודרה לראשונה בהתאמה בארצות הברית בערוץ PBS Kids ובקנדה בערוץ TVOntario, החל מ-30 בספטמבר 2000 עד ה-28 בדצמבר 2001. בישראל הסדרה שודרה בדיבוב לעברית בערוץ הילדים, ולאחר מכן בערוץ הופ!, החל משנת 2002 עד שנת 2003. לסדרה הופקו שתי עונות ו-26 פרקים באורך 22 דקות, כאשר כל פרק מורכב משני פרקים משניים באורך 11 דקות

    העלילה עוקבת אחר טימותי, דביבון קטן אשר לומד בכיתה א'. הוא מתחיל את שנתו הראשונה בבית ספר יחד עם עוד עשרה תלמידים נוספים, שכל אחד מהם הוא בעל חיים שונה. הוא מתחבר אל הילדים, ויחד איתם הוא לומד כל יום משהו חדש. רוב התלמידים לומדים בכיתה של גברת צ'יקה, אשר תמיד מוכנה לעזור להם.
</div>
