@model SportStore.ViewModels.UserViewModel

@{
    ViewData["Title"] = "עריכת משתמש";
}

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDasA7_C8s-T2dAXutOSqVBiCAsz3zJ3zo&libraries=places&callback=initMap">
</script>
<script>
    function showClasses() {
        var x = document.getElementById("class");
        var type = document.getElementById("Type").value;

        if (type === "Teacher") {
            x.style.display = "none";
        }
    }

    function initMap() {
        var input = document.getElementById('Address');

        new google.maps.places.Autocomplete(input);
    }

    $(document).ready(function () {
        showClasses();
    });
</script>

<h4>עריכת משתמש</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input readonly asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input readonly asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input readonly asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div id="type" class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select readonly asp-for="Type" class="form-control" asp-items="ViewBag.Type"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div id="class" class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId"></select>
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="שמור" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">חזור</a>
</div>

