@model Dictionary<int, List<SportStore.Entities.Lesson>>

<table class="table table-bordered schedule-table">
    <thead>
    <tr>
        <td></td>
        <td>א</td>
        <td>ב</td>
        <td>ג</td>
        <td>ד</td>
        <td>ה</td>
        <td>ו</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var hour in Model.Keys)
    {
        var nextHour = hour + 1;
        <tr>
            <td>@nextHour:00 - @hour:00</td>
            @foreach (var lesson in Model[hour].OrderBy(x => x.DayOfWeek))
            {
                <td>@lesson.Subject</td>
            }
        </tr>
    }
    </tbody>
</table>