@using School.Controllers;
@model IEnumerable<School.Entities.Lesson>

@{
    ViewData["Title"] = "מערכת שעות";

    var lessons = Model
        .GroupBy(x => x.Hour)
        .ToDictionary(x => x.Key, y => y.ToList());

    var minHour = lessons.Keys.Min();
    var maxHour = lessons.Keys.Max();

    var days = Enum
        .GetValues<DayOfWeek>()
        .Where(x => x != DayOfWeek.Saturday);
}

<table class="table table-bordered center-table">
    <thead>
        <tr style="background: aliceblue;">
            <td></td>
            @foreach (var day in days) {
                <td>@LessonController.GetDayDisplayName(day)</td>
            }
        </tr>
    </thead>
    <tbody>
        @for (var hour = minHour; hour <= maxHour; hour++)
        {
            var nextHour = hour + 1;

            <tr>
                <td style="background: aliceblue;">@nextHour:00 - @hour:00</td>
                
                @foreach (var day in days)
                {
                    var lesson = lessons[hour].FirstOrDefault(x => x.DayOfWeek == day);
                    <td>@Html.DisplayFor(_ => lesson.Subject)</td>
                }
            </tr>
        }
    </tbody>
</table>